[submodule "Assets/M8"]
	path = Assets/M8
	url = https://github.com/ddionisio/MateUnity.git
[submodule "Assets/M8Animator"]
	path = Assets/M8Animator
	url = https://github.com/ddionisio/MateAnimator.git
[submodule "Assets/M8AnimatorExt"]
	path = Assets/M8AnimatorExt
	url = https://github.com/ddionisio/MateAnimatorExt.git
[submodule "Assets/M8SpreadsheetParser"]
	path = Assets/M8SpreadsheetParser
	url = https://github.com/ddionisio/MateSpreadsheetParser.git
[submodule "Assets/M8TextMeshPro"]
	path = Assets/M8TextMeshPro
	url = https://github.com/ddionisio/MateTextMeshPro.git
